.today-field {
  font-style: italic;
  font-weight: 600;
  font-size: 0.9em;
}

.message-text {
  font-style: italic;
}

.entity-details {
  padding: 4px 0 6px 0;
}

.entity-summary {
  text-align: justify;
}

.description-block {
  padding: 6px 12px;
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
  text-align: justify;
}
