.help-field {
  text-align: justify;
  font-style: italic;
}

.help-field p {
  margin: 0;
}

.permissions-form {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.form-group {
  margin: 6px 0 0;
}

.checkbox {
  margin: 0;
}

.submit-group {
  margin-bottom: 4px;
}

.index-page-form {
  margin: 4px 0;
}

.inline-form-group {
  width: 30%;
  float: left;
}

.inline-submit-group {
  margin-left: 30.5%;
}
