DEBUG=True
SECRET_KEY='secret phrase'
DSN=postgres://newbie:aa@127.0.0.1:5432/codejdev
USER=newbie
DB=codejdev
REDI=redis://localhost
ASSETS_DEBUG=False
SESSION_LIFETIME=2592000
GRAVATAR=http://www.gravatar.com/avatar
SITE_NAME='Блоги CodeJ'
SITE_DESCRIPTION='Описание сайта для поисковиков'
REQUEST_INTERVAL=24
TOKEN_LENGTH=12
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=codej@yandex.ru
MAIL_PASSWORD=abckdrdlskid4
SUBJECT_PREFIX='[CodeJ] '
SENDER='robot <codej@yandex.ru>'
SEND_FILE_MAX_AGE=3600
USERS_PER_PAGE=3
ALBUMS_PER_PAGE=3
PICTURES_PER_PAGE=3
