DEBUG=True
SECRET_KEY='secret phrase'
DB=postgres://newbie:aa@127.0.0.1:5432/codejdev
REDI=redis://localhost
ASSETS_DEBUG=True
SESSION_LIFETIME=2592000
SITE_NAME='Блоги CodeJ'
SITE_DESCRIPTION='Описание сайта для поисковиков'
