{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}
{% from "macros/_pictures.html" import show_album_statistic %}
{% from "macros/_common.html" import paginate %}

{% block title %}{{ target['parsed36'] }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/pictures/show-album.css',
            'css/base.css',
            'css/mc1152.css',
            'css/top-flashed.css',
            'css/content-block.css',
            'css/twopanels.css',
	    'css/aoptions.css',
	    'css/labeled-form.css',
            'css/pagination.css',
            'css/pictures/show-album.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- pictures/show-album.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    <div id="left-panel">
      <div class="content-block">
        <div class="block-header">
          <h3 class="panel-title"
              {% if target['title']|length > 50 %}
              title="{{ target['title'] }}"
              {% endif %}>{{ target['parsed50']}}
          </h3>
        </div>
        <div class="block-body">
	  <div class="albums-options text-center">
            <button type="button"
		    class="btn btn-info btn-sm go-home"
		    data-dest="{{ url_for('pictures:show-albums') }}"
		    title="вернуться к списку альбомов">
              <span class="glyphicon glyphicon-home"
		    aria-hidden="true"></span>
	    </button>
            <button type="button"
		    data-suffix="{{ target['suffix'] }}"
		    data-url=""
		    class="btn btn-info btn-sm show-statistic"
		    title="показать статистику альбома">
              <span class="glyphicon glyphicon-repeat"
		    aria-hidden="true"></span>
	    </button>
	    {% if not pagination or
	          (pagination and pagination['page'] == 1) %}
              <button type="button"
		      class="btn btn-default btn-sm album-reload"
		      data-dest="{{ url_for(
			'pictures:show-album', suffix=target['suffix']) }}"
		      title="обновить">
                <span class="glyphicon glyphicon-refresh"
		      aria-hidden="true"></span>
	      </button>
	      <button type="button"
		      class="btn btn-primary btn-sm upload-new"
		      title="добавить картинку">
                <span class="glyphicon glyphicon-upload"
		      aria-hidden="true"></span>
	      </button>
            {% else %}
              <button type="button"
		      class="btn btn-default btn-sm album-reload"
		      data-dest="{{ url_for(
			'pictures:show-album', suffix=target['suffix']) }}"
		      title="в начало альбома">
                <span class="glyphicon glyphicon-circle-arrow-left"
		      aria-hidden="true"></span>
	      </button>
	    {% endif %}
	  </div>
	  {% if not pagination or (pagination and pagination['page'] == 1) %}
	  <div {% if form %}
               id="progress-block"{% else %}
	       id="data-panel"{% endif %}
	       class="text-center {% if form %}to-be-hidden{% endif %}"
	       {% if not form %}
	       data-url="{{ url_for('pictures:check-pic') }}"
	       data-cache="{{ cache }}"
	       data-redirect="{{ url_for(
                 'pictures:show-album', suffix=target['suffix']) }}"
	       {% endif %}>
              <img alt="progress show"
		   width="48"
		   height="48"
		   src="{{ url_for('static', path='images/upload.gif') }}">
	    </div>
	    {% if form %}
            <div id="upload-form-block" class="to-be-hidden">
              <div class="today-field"></div>
	      <div class="form-help">
                <p>
                Выберите файл изображения, процесс выгрузки начнётся
		автоматически. Поддерживаются файлы JPEG, PNG и GIF форматов.
		Максимальный размер файла ограничен - 5МиБ. Длина имени
		файла не может превышать 128 символов. После загрузки файл
		будет верифицирован и доступен в списке ниже.
		</p>
	      </div>
	      <div class="form-form">
                <form class="form" method="POST" role="form"
                      novalidate
                      enctype="multipart/form-data">
                  <div class="form-group">
                    {{ form.image(accept="image/jpeg,image/png,image/gif") }}
                  </div>
		  <div class="form-group hidden">
                    {{ form.submit(class="btn btn-default") }}
		  </div>
		</form>
	      </div>
	    </div>
	    {% endif %}
	  {% endif %}
	  {% if pagination %}
	    <div class="items-table-block">
              <table class="items-table">
                <tbody>
                {% for pic in pagination['pictures'] %}
                  {% if loop.first and loop.last %}
                    {% set last_item = 1 %}
		  {% else %}
                    {% set last_item = 0 %}
		  {% endif %}
		  <tr {% if not loop.last %}class="bordered"{% endif %}>
                    <td class="album-header-panel"
			data-url=""
			data-suffix=""
			{% if pic['filename']|length > 40 %}
			title="{{ pic['filename'] }}"
			{% endif %}>
                      <span class="glyphicon glyphicon-picture"
			    aria-hidden="true"></span>
		      {{ pic['parsed40'] }}
		    </td>
		    <td class="text-right album-tools-panel">
                      <button type="button"
			      class="btn btn-sm btn-danger remove-button
				     to-be-hidden"
			      title="удалить безвозвратно">
                        <span class="glyphicon glyphicon-remove-circle"
			      aria-hidden="true"></span>
		      </button>
		      <button type="button"
			      class="btn btn-sm btn-default trash-button"
			      title="удалить">
                        <span class="glyphicon glyphicon-trash"
			      aria-hidden="true"></span>
		      </button>
		    </td>
		  </tr>
		{% endfor %}
		</tbody>
	      </table>
	    </div>
	  {% else %}
            <div id="no-albums" class="alert alert-warning">
              В альбоме пока нет изображений.
	    </div>
	  {% endif %}
        </div>
      </div>
    </div>
    <div id="right-panel">
      {{ show_album_statistic(request, target, status) }}
    </div>
    {% if pagination and (pagination['next'] or pagination['prev']) %}
      <div class="entity-pagination next-block footer-bottom text-center">
        {{ paginate(
	  request, pagination,
	  'pictures:show-album', suffix=target['suffix']) }}
      </div>
    {% else %}
      <div class="footer-bottom"></div>
    {% endif %}
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/pictures/show-album.js',
            'js/check-mc.js',
	    'js/hide-hidden.js',
            'js/top-flashed.js',
            'js/footer.js',
	    'js/render-tf.js',
	    'js/show-datetime.js',
	    'js/scroll-panel.js',
            'js/pictures/show-album.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
