{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}
{% from "macros/_common.html" import paginate %}

{% block title %}
  {% if author['id'] == current_user['id'] %}
    Свои
  {% else %}
    {{ author['username'] }} блог
  {% endif %}
{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/arts/show-author.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/next-block.css',
            'css/content-block.css',
            'css/avatar.css',
            'css/entity-attributes.css',
            'css/entity-details.css',
            'css/pagination.css',
            'css/arts/show-author.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- arts/show-author.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    {% if author and pagination and pagination['page'] == 1 %}
      <div class="content-block description-block">
        {{ author['description'] }}
      </div>
    {% endif %}
    {% if pagination %}
      {% for art in pagination['articles'] %}
        <div class="content-block slidable">
          <div class="block-header">
            <h3 class="panel-title">
              <a class="entity-link"
                 {% if art['title']|length > 80 -%}
                 title="{{ art['title'] }}"{%- endif %}
                 href="{{ url_for('arts:show-art', slug=art['slug']) }}">
                {{ art['title80'] }}
              </a>
            </h3>
          </div>
          <div class="block-body">
            <div class="entity-attributes">
              <div class="author-avatar avatar"
                   style="background:url({{ art['ava'] }})"></div>
              <div class="entity-info">
                <h4>
                  <a class="author-profile-link"
                     href="{{ url_for(
                       'profile', username=art['author']) }}">
                    {{ art['author'] }}
                  </a>
                </h4>
                <div class="info-line-block">
                  <table>
                    <tbody>
                    {% if art['published'] %}
                      <tr>
                        <td>
                          <span class="date-info">Опубликован:&nbsp;</span>
                        </td>
                        <td>
                          <span class="date-info date-field">
                            {{ art['published'] }}
                          </span>
                        </td>
                      </tr>
                    {% endif %}
                    <tr>
                      <td>
                        <span
                          class="date-info">Отредактирован:&nbsp;</span>
                      </td>
                      <td>
                        <span class="date-info date-field">
                          {{ art['edited'] }}</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="footer-bottom"></div>
            </div>
            <div class="entity-details">
              <table align="center" class="entity-details-table">
                <tbody>
                <tr>
                  <td>
                    <div class="labeled labeled-text labeled-info viewed-ind">
                      <span class="glyphicon glyphicon-eye-open"
                            aria-hidden="true"></span><span
                            class="value">{{ art['viewed'] }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="labeled labeled-text
                                labeled-success like-block">
                      <span class="glyphicon glyphicon-thumbs-up"
                            aria-hidden="true"></span><span
                            class="value">{{ art['likes'] }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="labeled labeled-text
                                labeled-danger dislike-block">
                      <span class="glyphicon glyphicon-thumbs-down"
                            aria-hidden="true"></span><span
                            class="value">{{ art['dislikes'] }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="labeled labeled-text
                         {% if art['commented'] %}labeled-info
                         {% else %}labeled-warning{% endif %}">
                      <span class="glyphicon glyphicon-comment"
                            aria-hidden="true"></span><span
                            class="value">{{ art['commentaries'] }}</span>
                    </div>
                  </td>
                  {% if permissions.BLOCK_ENTITY in cuperms or
                        art['author'] == current_user['username'] %}
                    <td>
                      {% if art['state'] == status.pub %}
                        <div class="labeled labeled-text labeled-success">
                          <span class="glyphicon glyphicon-globe"
                                aria-hidden="true"></span><span
                                class="value">public</span>
                        </div>
                      {% elif art['state'] == status.priv %}
                        <div class="labeled labeled-text labeled-info">
                          <span class="glyphicon glyphicon-share"
                                aria-hidden="true"></span><span
                                class="value">share</span>
                        </div>
                      {% elif art['state'] == status.hidden %}
                        <div class="labeled labeled-text labeled-info">
                          <span class="glyphicon glyphicon-sunglasses"
                                aria-hidden="true"></span><span
                                class="value">hidden</span>
                        </div>
                      {% endif %}
                    </td>
                  {% endif %}
                </tr>
                </tbody>
              </table>
            </div>
            <div class="entity-summary">
              {% if art['summary'] %}
                <p>{{ art['summary'] }}</p>
              {% else %}
                <div class="alert alert-warning">Аннотация отсутствует.</div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-warning">
        <div class="today-field"></div>
        <div class="message-text">
          {% if current_user['username'] == username %}
            В вашем блоге нет опубликованных текстов или у блога нет описания.
            Если хотите вести свой блог, обратитесь к администратору сайта.
            И не забудьте заполнить в профиле описание блога.
          {% else %}
            Похоже, что {{ username }} пока ничего не написал в свой блог.
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if pagination['prev'] or pagination['next'] %}
      <div class="next-block entity-pagination text-center">
        {{ paginate(
          request, pagination,
          'arts:show-auth', username=author['username']) }}
      </div>
    {% endif %}
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/arts/show-author.js',
            'js/check-mc.js',
            'js/hide-hidden.js',
            'js/render-tf.js',
            'js/footer.js',
            'js/top-flashed.js',
            'js/check-next.js',
            'js/show-datetime.js',
            'js/show-hide.js',
            'js/scroll-panel.js',
            'js/arts/show-author.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
