.entity-details {
  padding: 4px 0 6px 0;
}

.entity-summary {
  text-align: justify;
}

.entity-summary p {
  margin: 0;
  padding: 0;
}

.entity-alias {
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
  text-align: center;
  padding: 4px 0 0;
}
