{% macro show_album_statistic(request, album, status) %}
  <div class="content-block">
    <div class="block-header">
      <h3 class="panel-title">Статистика альбома</h3>
    </div>
    <div class="block-body album-statistic">
      <table class="statistic-table">
        <tbody>
          <tr class="bordered">
            <td>Название</td>
            <td class="text-right"
                {% if album['title']|length > 22 %}
                title="{{ album['title'] }}"{% endif %}>
              {{ album['parsed22'] }}
            </td>
          </tr>
          <tr class="bordered">
            <td>Создан</td>
            <td class="text-right date-field">
              {{ album['created'] }}
            </td>
          </tr>
          <tr class="bordered">
            <td>Файлов</td>
            <td class="text-right">{{ album['files'] }}</td>
          </tr>
          <tr class="bordered">
            <td>Размер</td>
            <td class="text-right">{{ album['volume'] }}</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td class="text-right">
              {{ album['state'] }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="album-options">
        <button id="show-rename-form"
                type="button"
                class="btn btn-sm btn-default btn-block">
          Переименовать
        </button>
      </div>
      <div id="rename-form" class="album-form to-be-hidden">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 id="title-change"
                 value="{{ album['title'] }}">
        </div>
        <div class="form-group">
          <button id="rename-album"
                  data-url="{{ request.url_for('pictures:rename-album') }}"
                  data-aid="{{ album['id'] }}"
                  class="btn btn-primary btn-block btn-sm">
            Переименовать
          </button>
        </div>
      </div>
      <div class="album-options">
        <button id="show-state-form"
                type="button"
                class="btn btn-sm btn-default btn-block">
          Изменить статус
        </button>
      </div>
      <div id="change-status-form" class="album-form to-be-hidden">
        <div class="form-group">
          <select id="select-status"
                  class="form-control"
                  data-url="{{ request.url_for('pictures:change-state') }}"
                  data-aid="{{ album['id'] }}">
            <option value="{{ status.pub }}"
                    {% if album['state'] == status.pub %}selected{% endif %}>
              {{ status.pub }}
            </option>
            <option value="{{ status.priv }}"
                    {% if album['state'] == status.priv %}selected{% endif %}>
              {{ status.priv }}
            </option>
            <option value="{{ status.ffo }}"
                    {% if album['state'] == status.ffo %}selected{% endif %}>
              {{status.ffo }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro show_user_statistic(user, stat) %}
  <div class="content-block">
    <div class="block-header">
      <h3 class="panel-title">Ваша статистика</h3>
    </div>
    <div class="block-body album-statistic">
      <table class="statistic-table">
        <tbody>
          <tr class="bordered">
            <td>Здесь с:</td>
            <td class="text-right date-field">{{ user['registered'] }}</td>
          </tr>
          <tr class="bordered">
            <td>Группа</td>
            <td class="text-right">{{ user['group'] }}</td>
          </tr>
          <tr class="bordered">
            <td>Альбомов</td>
            <td class="text-right">{{ stat['albums'] }}</td>
          </tr>
          <tr class="bordered">
            <td>Файлов</td>
            <td class="text-right">{{ stat['files'] }}</td>
          </tr>
          <tr>
            <td>Итого</td>
            <td class="text-right">{{ stat['volume'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endmacro %}
