.form-form {
  margin: 8px;
}

.form-group {
  margin: 0;
}

.last-group {
  margin-top: 6px;
}

#progress-block {
  padding: 12px 0;
}

#html-text-edit {
  text-align: justify;
}

#options-block {
  text-align: center;
  padding: 4px 0;
  background: linear-gradient(to bottom, #fffef2, #f3f2e7);
}
