.form-form {
  margin: 8px;
}

.form-group {
  margin: 0;
}

.last-group {
  margin-top: 6px;
}

#d-length-marker, #s-length-marker {
  margin-bottom: 6px;
}

#progress-block {
  padding: 12px 0;
}

#html-text-edit, #summary-edit, #metadesc-edit {
  text-align: justify;
}

.inline-form-table {
  margin: 0;
  width: 100%;
}

.input-field {
  width: 90%;
}

#options-block {
  text-align: center;
  padding: 4px 0;
  background: linear-gradient(to bottom, #fffef2, #f3f2e7);
}
