{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}
{% from "macros/_auth.html" import render_form_group %}

{% block title %}Смена пароля{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/auth/change-password.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/content-block.css',
            'css/labeled-form.css' %}
    <link rel="stylesheet" type="text/css"
          href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- auth/change-password.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    <div class="form-block content-block">
      <div class="block-header">
        <h3 class="panel-title">Смена пароля</h3>
      </div>
      <div class="block-body">
        <div class="today-field"></div>
        <div class="form-help">
          <p>
            Уважаемый {{ current_user['username'] }}, для смены Вашего
            текущего пароля заполните форму ниже. Введите в соответствующие
            поля Ваш текущий пароль, придумайте и введите новый пароль,
            повторите новый пароль, затем нажмите кнопку "Сменить пароль",
            и Ваш текущий пароль будет заменён на новый. В случае, если Вы
            забыли свой текущий пароль, его можно восстановить в
            соответствующем разделе сервиса.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.csrf_token }}
            {{ render_form_group(
              form, form.current, 'current', 'Введите свой текущий пароль') }}
            {{ render_form_group(
              form, form.password, 'password', 'Введите желаемый пароль') }}
            {{ render_form_group(
              form, form.confirmation,
              'confirmation', 'Повторите новый пароль') }}
            <div class="form-group">
              <div class="form-input">
                {{ form.submit(class="btn btn-primary btn-block") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/auth/change-password.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/top-flashed.js',
            'js/footer.js',
            'js/auth/change-password.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
