{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}
{% from "macros/_auth.html" import render_form_group %}

{% block title %}Создайте свой пароль{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/auth/create-password.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/content-block.css',
            'css/labeled-form.css' %}
    <link rel="stylesheet" type="text/css"
          href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- auth/create-password.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    <div class="form-block content-block">
      <div class="block-header">
        <h3 class="panel-title">Создайте свой пароль</h3>
      </div>
      <div class="block-body">
        <div class="today-field"></div>
        <div class="form-help">
          <p>
            Уважаемый гость, для создания пароля заполните форму ниже.
            Придумайте и введите в соответствующие поля желаемый псевдоним и
            пароль. Пароль нужно ввести второй раз в поле "Повторите".
            Псевдоним может содержать от 3-х до 16-ти символов (латинские буквы,
            буквы русского алфавита, цифры, знак подчеркивания, дефис и точка),
            первый символ псевдонима должен быть латинской или русской буквой.
            Нажмите кнопку "Создать пароль". Будьте внимательны, псевдоним
            и пароль Вам потребуются для входа в сервис, а восстановить пароль
            можно будет не ранее чем через {{ interval }} часа.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.csrf_token }}
            {{ render_form_group(
              form, form.username, 'username', 'введите желаемый псевдоним') }}
            {{ render_form_group(
              form, form.password, 'password', 'введите желаемый пароль') }}
            {{ render_form_group(
              form, form.confirmation, 'confirmation', 'повторите пароль') }}
            <div class="form-group">
              <div class="form-input">
                {{ form.submit(class="btn btn-primary btn-block") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/auth/create-password.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/top-flashed.js',
            'js/footer.js',
            'js/auth/create-password.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
