{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}
{% from "macros/_auth.html" import render_form_group %}
{% from "macros/_auth.html" import render_captcha_group %}

{% block title %}Запрос регистрации{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/auth/get-password.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/content-block.css',
            'css/next-block.css',
            'css/labeled-form.css',
            'css/captcha.css' %}
    <link rel="stylesheet" type="text/css"
          href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- auth/get-password.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    <div class="form-block content-block">
      <div class="block-header">
        <h3 class="panel-title">Запрос регистрации</h3>
      </div>
      <div class="block-body">
        <div class="today-field"></div>
        <div class="form-help">
          <p>
            Уважаемый гость, получить пароль можно, заполнив форму ниже,
            в ней нужно ввести в соответствующие поля Ваш адрес электронной
            почты и код с картинки, а затем нажать кнопку "Получить пароль".
            На Ваш адрес будет выслано письмо с дальнейшими инструкциями,
            следуйте им. Форма действительна в течение 3-минут с момента
            загрузки страницы или с момента обновления картинки с кодом. Если
            картинка с кодом плохо читается, можно обновить картинку кнопкой
            со стрелками. <b>Для справки:</b> код состоит из строчных
            латинских букв и цифр без повторов.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.csrf_token }}
	    {{ render_form_group(
	      form, form.address, 'address', 'введите свой адрес эл.почты') }}
	    {{ render_captcha_group(request, form, captcha.get('suffix')) }}
	    <div class="form-group">
              <div class="form-input">
                {{ form.submit(class="btn btn-primary") }}
	      </div>
	    </div>
	  </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/auth/get-password.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/top-flashed.js',
            'js/footer.js',
            'js/reload-captcha.js',
            'js/auth/captcha.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
