{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}
{% from "macros/_auth.html" import render_form_group %}

{% block title %}Запрос на смену адреса{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/auth/request-email.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/content-block.css',
            'css/labeled-form.css' %}
    <link rel="stylesheet" type="text/css", href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- auth/request-email.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    <div class="form-block content-block">
      <div class="block-header">
        <h3 class="panel-title">Запрос на смену адреса</h3>
      </div>
      <div class="block-body">
        <div class="today-field"></div>
        <div class="form-help">
          <p>
            Уважаемый {{ current_user['username'] }}, для смены адреса
            электронной почты Вашего аккаунта необходимо заполнить форму ниже.
            Введите в соответствующие поля Ваш новый адрес электронной почты
	    и пароль,
            нажмите кнопку "Отправить запрос". На ваш новый адрес будет
            выслана инструкция о дальнейших действиях, следуйте ей. Имейте
            ввиду, что смену адреса и сброс пароля Вы можете запросить один
            раз в {{ interval }} часа и не ранее чем через {{ interval }} часа
            с момента регистрации.
          </p>
        </div>
	<div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.csrf_token }}
	    {{ render_form_group(
	      form, form.address,
	      'address', 'Введите свой новый адрес электронной почты') }}
	    {{ render_form_group(
	      form, form.password,
	      'password', 'Введите свой пароль') }}
	    <div class="form-group">
              <div class="form-input">
                {{ form.submit(class="btn btn-primary btn-block") }}
	      </div>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/auth/request-email.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/top-flashed.js',
            'js/footer.js',
            'js/auth/nocaptcha.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
