{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}
{% from "macros/_auth.html" import render_form_group %}

{% block title %}Восстановите забытый пароль{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/auth/reset-password.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/content-block.css',
            'css/labeled-form.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- auth/reset-password.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    <div class="form-block content-block">
      <div class="block-header">
        <h3 class="panel-title">Создайте свой пароль</h3>
      </div>
      <div class="block-body">
        <div class="today-field"></div>
        <div class="form-help">
          <p>
            Уважаемый {{ username }}, здесь Вы можете восстановить свой
            забытый пароль, для этого заполните форму ниже. Введите в
            соответствующие поля Ваш адрес электронной почты, на который Вы
            получили сообщение, содержащее ссылку на эту страницу, придумайте
            и введите новый пароль, повторите его ввод в поле "Повторите его"
            и нажмите кнопку "Обновить пароль", будьте внимательны, после
            обновления пароля Вы сможете войти в сервис только с новым
            паролем. Повторно запросить восстановление пароля можно будет не
            ранее чем через {{ interval }} часа.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.csrf_token }}
            {{ render_form_group(
              form, form.address, 'address', 'введите свой адрес эл.почты') }}
            {{ render_form_group(
              form, form.password, 'password', 'введите желаемый пароль') }}
            {{ render_form_group(
              form, form.confirmation, 'confirmation', 'повторите пароль') }}
            <div class="form-group">
              <div class="form-input">
                {{ form.submit(class="btn btn-primary btn-block") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/auth/reset-password.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/top-flashed.js',
            'js/footer.js',
            'js/auth/nocaptcha.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
