<div id="paragraph-editor" class="form-form hidden">
  <div class="form-group">
    <textarea id="paragraph-text-edit"
              placeholder="отредактируйте абзац топика"
              data-url="{{ request.url_for('drafts:edit-par') }}"
              data-num="{{ num }}"
              data-art="{{ art }}"
              class="form-control"
              rows="5">{{ mdtext }}</textarea>
  </div>
  <div class="form-group last-group">
    <button id="cancel-edit"
            type="button"
            title="отменить"
            class="btn btn-info btn-sm">
      <span class="glyphicon glyphicon-refresh"
            aria-hidden="true"></span>
    </button>
  </div>
</div>
