{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}

{% block title %}{{ target.get('title') }}{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/drafts/draft.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/next-block.css',
            'css/content-block.css',
            'css/avatar.css',
            'css/entity-attributes.css',
            'css/common-details.css',
            'css/entity-details.css',
            'css/entity-text.css',
            'css/pygments.css',
            'css/labels.css',
            'css/drafts/draft.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- drafts/draft.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    <div id="entity-header-block"
         data-id="{{ target['id'] }}"
         class="content-block slidable">
      <div class="block-header">
        <h3 class="panel-title"
            {% if target['title']|length > 80 %}
            title="{{ target['title'] }}"{% endif %}>
          {% if target['title']|length > 80 %}
            {{ target['title80'] }}
          {% else %}
          {{ target['title'] }}
          {% endif %}
        </h3>
      </div>
      <div class="block-body to-be-hidden">
        <div class="entity-attributes">
          <div class="author-avatar avatar"
               style="background:url({{ target['ava'] }})"></div>
          <div class="entity-info">
            <h4>
              <a class="author-profile-link"
                 href="{{ url_for('profile', username=target['author']) }}">
                {{ target['author'] }}
              </a>
            </h4>
            <div class="info-line-block">
              <table>
                <tbody>
                  {% if target['published'] %}
                    <tr>
                      <td>
                        <span class="date-info">Опубликован:&nbsp;</span>
                      </td>
                      <td>
                        <span class="date-info date-field">
                          {{ target['published'] }}
                        </span>
                      </td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td>
                      <span class="date-info">Отредактирован:&nbsp;</span>
                    </td>
                    <td>
                      <span class="date-info date-field">
                        {{ target['edited'] }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="footer-bottom"></div>
        </div>
      </div>
    </div>
    <div class="next-block content-block common-details">
      <div class="entity-blog-link">
        <a href="{{ url_for('arts:show-auth', username=target['author']) }}">
          {{ target['author'] }}&nbsp;блог</a>
      </div>
      <div class="entity-details">
        <table align="center" class="entity-details-table">
          <tbody>
          <tr>
            <td>
              <div class="labeled labeled-text labeled-info viewed-ind">
                <span class="glyphicon glyphicon-eye-open"
                      aria-hidden="true"></span><span
                      class="value">{{ target['viewed'] }}</span>
              </div>
            </td>
            <td>
              <div class="labeled labeled-text labeled-success like-block">
                <span class="glyphicon glyphicon-thumbs-up"
                      aria-hidden="true"></span><span
                      class="value">{{ target['likes'] }}</span>
              </div>
            </td>
            <td>
              <div class="labeled labeled-text labeled-danger dislike-block">
                <span class="glyphicon glyphicon-thumbs-down"
                      aria-hidden="true"></span><span
                      class="value">{{ target['dislikes'] }}</span>
              </div>
            </td>
            <td>
              <div class="labeled labeled-text
                   {% if target['commented'] %}labeled-info
                   {% else %}labeled-warning{% endif %}">
                <span class="glyphicon glyphicon-comment"
                      aria-hidden="true"></span><span
                      class="value">{{ target['commentaries'] }}</span>
              </div>
            </td>
            <td>
              {% if target['state'] == status.mod %}
                <div class="labeled labeled-text labeled-danger">
                  <span class="glyphicon glyphicon-lock"
                        aria-hidden="true"></span><span
                        class="value">mod</span>
                </div>
              {% elif target['state'] == status.draft %}
                <div class="labeled labeled-text labeled-success">
                  <span class="glyphicon glyphicon-edit"
                        aria-hidden="true"></span><span
                        class="value">draft</span>
                </div>
              {% elif target['state'] == status.pub %}
                <div class="labeled labeled-text labeled-success">
                  <span class="glyphicon glyphicon-globe"
                        aria-hidden="true"></span><span
                        class="value">public</span>
                </div>
              {% elif target['state'] == status.priv %}
                <div class="labeled labeled-text labeled-info">
                  <span class="glyphicon glyphicon-share"
                        aria-hidden="true"></span><span
                        class="value">share</span>
                </div>
              {% elif target['state'] == status.hidden %}
                <div class="labeled labeled-text labeled-info">
                  <span class="glyphicon glyphicon-sunglasses"
                        aria-hidden="true"></span><span
                        class="value">hidden</span>
                </div>
              {% endif %}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="entity-copy-link">
        <button type="button"
                class="btn btn-xs btn-default btn-block copy-link">
          поделиться ссылкой
        </button>
        <div class="entity-link-copy-form to-be-hidden">
          <div class="form-group">
            <input id="copy-box"
                   class="form-control"
                   type="text"
                   name="copy-box"
                   value="{{ url_for('jump', suffix=target['suffix']) }}">
          </div>
          <div class="form-group">
            <button id="copy-button"
                    type="button"
                    data-clipboard-target="#copy-box"
                    class="btn btn-xs btn-primary btn-block">
              скопировать в буфер обмена
            </button>
          </div>
        </div>
      </div>
    </div>
    {% if target['html'] %}
      <div class="content-block next-block entity-text-block"
           data-len="{{ length }}"
           data-art="{{ target['id'] }}"
           data-rem="{{ url_for('drafts:rem-par') }}"
           data-insert="{{ url_for('drafts:insert-par') }}"
           data-check="{{ url_for('drafts:check-par') }}">
        {{ target['html']|safe }}
      </div>
    {% else %}
      <div class="content-block alert alert-success next-block">
        Черновик создан, самое время наполнить его текстом.
      </div>
    {% endif %}
    <div class="editor-forms-block content-block next-block">
      <div id="progress-block" class="text-center to-be-hidden">
        <img alt="progress show"
             src="{{ url_for('static', path='images/upload.gif') }}">
      </div>
      <div id="new-paragraph-editor" class="form-form">
        <div class="form-group">
          <textarea id="html-text-edit"
                    placeholder="введите следующий абзац топика"
                    data-url="{{ url_for('drafts:create-par') }}"
                    class="form-control"
                    rows="5"></textarea>
        </div>
      </div>
      <div id="labels-editor" class="form-form to-be-hidden">
        <div class="form-help">
          <p>
            Метки вводятся через запятую, максимальная длина метки - 32 знака,
            в том числе буквы латинского и русского алфавитов, цифры и дефис,
            допустимо любое количество меток.
          </p>
        </div>
        <div class="form-group">
          <textarea id="labels-edit"
                    placeholder="введите имена меток через запятую"
                    class="form-control"
                    rows="2">
            {%- if labels -%}
              {%- for label in labels -%}
              {{- label -}}{% if not loop.last -%}, {% endif -%}
              {%- endfor -%}
            {%- endif -%}
          </textarea>
        </div>
        <div class="form-group last-group">
          <button id="labels-submit"
                  type="button"
                  class="btn btn-danger btn-block"
                  data-url="{{ url_for('labels:set-l') }}">
            Установить
          </button>
        </div>
      </div>
      <div id="meta-description-editor" class="form-form to-be-hidden">
        <div id="d-length-marker">
          Осталось: <span
            id="d-length-value">{%- if not target['meta'] -%}180
          {%- else -%}{{- 180 - target['meta']|length -}}{%- endif -%}</span>
        </div>
        <div class="form-group">
          <textarea id="metadesc-edit"
                    placeholder="введите текст описания"
                    class="form-control"
                    rows="3">
            {%- if target['meta'] -%}{{- target['meta'] -}}
            {%- endif -%}
          </textarea>
        </div>
        <div class="form-group last-group">
          <button id="metadesc-submit"
                 class="btn {% if target['meta'] %}btn-danger
                        {% else %}btn-info{% endif %} btn-block"
                 type="button"
                 data-url="{{ url_for('drafts:edit-meta') }}"
                 data-art="{{ target['id'] }}">Сохранить</button>
        </div>
      </div>
      <div id="summary-editor" class="form-form to-be-hidden">
        <div id="s-length-marker">
          Осталось: <span
            id="s-length-value">{%- if not target['summary'] -%}512
          {%- else -%}{{- 512 - target['summary']|length -}}
          {%- endif -%}</span>
        </div>
        <div class="form-group">
          <textarea id="summary-edit"
                    placeholder="введите текст аннотации"
                    class="form-control"
                    rows="5">
            {%- if target['summary'] -%}{{- target['summary'] -}}
            {%- endif -%}
          </textarea>
        </div>
        <div class="form-group last-group">
          <button id="summary-submit"
                  class="btn btn-danger"
                  type="button"
                  title="сохранить"
                  data-url="{{ url_for('drafts:edit-sum') }}"
                  data-art="{{ target['id'] }}">
            Сохранить
          </button>
          <button id="summary-from-text"
                  class="btn btn-default"
                  title="взять из текста"
                  type="button">
            Из текста
          </button>
        </div>
      </div>
      {% if target['state'] != status.mod %}
        <div id="status-editor" class="form-form to-be-hidden">
          <div class="form-group">
            <select id="select-status"
                    class="form-control"
                    data-url="{{ url_for('drafts:edit-state') }}"
                    data-art="{{ target['id'] }}">
              <option value="{{ status.pub }}"
                      {% if target['state'] == status.pub %}
                      selected{% endif %}>
                {{ status.pub }}
              </option>
              <option value="{{ status.priv }}"
                      {% if target['state'] == status.priv %}
                      selected{% endif %}>
                {{ status.priv }}
              </option>
              <option value="{{ status.hidden }}"
                      {% if target['state'] == status.hidden %}
                      selected{% endif %}>
                {{ status.hidden }}
              </option>
              <option value="{{ status.draft }}"
                      {% if target['state'] == status.draft %}
                      selected{% endif %}>
                {{ status.draft }}
              </option>
            </select>
          </div>
        </div>
      {% endif %}
      <div id="entity-title-editor" class="form-form to-be-hidden">
        <table class="inline-form-table">
          <tbody>
            <tr>
              <td class="input-field">
                <input id="title"
                       class="form-control"
                       type="text"
                       value="{{ target['title'] }}"
                       placeholder="введите заголовок топика">
              </td>
              <td>&nbsp;</td>
              <td>
                <button id="title-submit"
                        class="btn btn-danger"
                        data-art="{{ target['id'] }}"
                        data-url="{{ url_for('drafts:ch-title') }}"
                        type="button">Сохранить</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="content-block next-block entity-labels-block">
      <table>
        <tbody>
        <tr>
          <td>Метки:&nbsp;</td>
          <td>
            {% if labels %}
              {% for label in labels %}
              <a href="{{ url_for('drafts:show-labeled', label=label) }}">
                {{- label -}}</a>{%- if not loop.last -%}, {%- endif -%}
              {% endfor %}
            {% else %}
              не забудьте установить метки.
            {% endif %}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="options-block" class="content-block next-block">
      <button id="sp-case"
              type="button"
              class="btn btn-default btn-sm to-be-hidden">
        <span class="glyphicon glyphicon-wrench"
              aria-hidden="true"></span>
      </button>
      <button id="move-screen-up"
              class="btn btn-default btn-sm"
              type="button"
              title="прокрутить наверх">
        <span class="glyphicon glyphicon-hand-up"
              aria-hidden="true"></span>
      </button>
      <button id="labels-button"
              type="button"
              title="редактировать метки"
              class="btn btn-sm btn-primary">
        <span class="glyphicon glyphicon-tags"
              aria-hidden="true"></span>
      </button>
      <button id="edit-metadesc"
              type="button"
              title="редактировать тег meta description"
              class="btn {% if target['meta'] %}btn-success
                         {% else %}btn-info{% endif %} btn-sm">
        <span class="glyphicon glyphicon-pencil"
              aria-hidden="true"></span>
      </button>
      <button id="edit-title"
              type="button"
              title="редактировать заголовок"
              class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-edit"
              aria-hidden="true"></span>
      </button>
      <button id="edit-summary"
              type="button"
              title="редактировать аннотацию"
              class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-info-sign"
              aria-hidden="true"></span>
      </button>
      {% if target['meta'] and target['summary'] and target['html']
            and target['state'] != status.mod %}
        <button id="state-button"
                title="изменить статус"
                class="btn btn-success btn-sm">
          <span class="glyphicon glyphicon-share-alt"
                aria-hidden="true"></span>
        </button>
      {% endif %}
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/vendor-clipboard.js',
            'vendor/clipboard.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets filters='rjsmin', output='generic/js/drafts/draft.js',
            'js/check-mc.js',
            'js/hide-hidden.js',
            'js/footer.js',
            'js/top-flashed.js',
            'js/show-datetime.js',
            'js/show-hide.js',
            'js/send-par.js',
            'js/send-edited.js',
            'js/scroll-panel.js',
            'js/adjust-frame.js',
            'js/adjust-image.js',
            'js/set-margin.js',
            'js/show-copy-form.js',
            'js/copy-this.js',
            'js/mark-input-error.js',
            'js/track-marker.js',
            'js/drafts/draft.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
