{% extends "base.html" %}
{% from "macros/_common.html" import show_messages %}

{% block title %}Черновики{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/drafts/drafts.css',
            'css/base.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/next-block.css',
            'css/content-block.css',
            'css/labeled-form.css',
            'css/drafts/drafts.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <!-- drafts/drafts.html -->
  <div id="main-container">
    {% if flashed %}
      <div class="top-flashed-block">
        {{ show_messages(flashed) }}
      </div>
    {% endif %}
    {% if permissions.CREATE_ENTITY in current_user['permissions'] %}
      {% if not pagination or (pagination and pagination['page'] == 1) %}
        <div class="content-block slidable">
          <div class="block-header">
            <h3 class="panel-title">Новый топик для блога</h3>
          </div>
          <div class="block-body">
            <div class="today-field"></div>
            <div class="form-help">
              <p>
                Здесь можно создать новый топик в блог, для этого достаточно
                заполнить форму ниже и нажать кнопку "Создать". Имейте ввиду,
                что заголовок обязателен и не может быть длиннее, чем 100
                символов. Созданный топик можно будет наполнить содержимым
                и опубликовать.
              </p>
            </div>
            <div id="progress-block" class="text-center to-be-hidden">
              <img alt="progress show"
                   src="{{ url_for('static', path='images/upload.gif') }}">
            </div>
            <div class="form-form">
              <table class="inline-form-table">
                <tbody>
                  <tr>
                    <td class="input-field">
                      <input id="title"
                             class="form-control"
                             type="text"
                             placeholder="введите заголовок топика">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                      <button id="title-submit"
                              class="btn btn-primary"
                              type="button">Создать</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="alert alert-warning">
        Разрешение вести свой блог можно получить у администраторa.
      </div>
    {% endif %}
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/drafts/drafts.js',
            'js/check-mc.js',
            'js/hide-hidden.js',
            'js/render-tf.js',
            'js/footer.js',
            'js/top-flashed.js',
            'js/mark-input-error.js',
            'js/drafts/drafts.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
